@media (max-width:1200px){
    html{
        font-size:18px;
        background-color:#fff;
    }
    .media, .window{
        display:none;
        color:transparent;
    }
    
}

@media (max-width:991px){
html{
    font-size:14px;
    background-color:rgb(180, 180, 180);
}
.media, .window{
    display:none;
    color:transparent;
}
}

@media (max-width:575px){
html{
    font-size:10px;
    background-color:rgb(117, 117, 117);
}
.media{
    display:flex;
     width:200px;
     height:30px;
     color:rgb(0,0,0)
}
.window{
    display:flex;
    width:300px;
    height:30px;
    color:rgb(0,0,0)
}
}

@font-face {
    font-family: "Bauhaus";
    src: url("fuentess/BAUHS93.ttf") format("truetype");
}


.menu{
    width:100%;
    height:25vh;
    border: 0.1rem solid rgb(0,0,0);
    border-radius:0.2rem;
    font-size:1.5rem;
    font-family: "Bauhaus";
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}

.recetasarglogo{
    width:10rem;
    height:10rem;
}


.box{
    width:6rem;
    height:6rem;
    float:right;
    cursor:pointer;
    margin-top:0.2rem;
    animation-name: whatsapplogo;
    animation-duration:15s;
    animation-delay:2s;
    position:relative;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

@keyframes whatsapplogo{
    0%{right:0;top:0;}
    10%{right:0; top:110px;}
    20%{right:0; top:220px;}
    30%{right:0; top:330px;}
    40%{right:0;top:440px;}
    50%{right:0;top:550px;}
    60%{right:0;top:440px;}
    70%{right:0;top:330px;}
    80%{right:0;top:220px;}
    90%{right:0;top:110px;}
    100%{right:0;top:0;}
}

.intro, .receta {
    padding:0.1rem 1rem;
    margin-top:0.2rem;
    font-family: 'Mukta', sans-serif;
    font-size:1rem;
    border:0.1rem solid rgb(0,0,0);
    border-radius:0.2rem;
}

.calapurca {
    width:18rem;
    height:14rem;
}

iframe{
    width:18rem;
    height:14rem;
}

.title{
    text-decoration:underline;
}

.card-img-top{
    width:14rem;
    height:11rem;
}

.card-body{
    display:column;
    justify-content:center;
    align-items:center;
}

.cards{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

footer{
    border-radius:0.2rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}

.redes{
    width:20rem;
    height:5rem;
    background-color:rgb(33, 33, 33);
    border-radius:0.4rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.logo{
    width:2.2rem;
    height:2.2rem;
    margin:1.2rem;
    cursor:pointer;
}

a{
    color:rgb(0, 0, 0);
    cursor:pointer;
    text-decoration:none;
}

a:visited{
    color:rgb(0, 0, 0);
}

a:hover{
    color:rgb(77, 160, 255);
    text-decoration:underline;
}

a:active{
    color:rgb(77, 160, 255);
}
